{% render 'partials/head.liquid' %}
<article class="profile-card-background">
<h1>leuke pagina</h1>
<a href="/">terug</a>
</article>

<article class="profile-card-background">
    <h2>liquid filter datum</h2>
    {{ 'now' | date: '%d-%m-%Y' }}
</article>
{% render 'partials/foot.liquid' %}