* {
  box-sizing: border-box;
}

@font-face {
  font-family: Minecraft;
  src: url(/minecraft/Minecraft.ttf);
}

body {
  background: url(/oak-log-texture.jpg);
  margin: 0;
  justify-self: center;
}

h1 {
  font-family: Minecraft;
  font-size: 2em;

  @media (min-width: 400px) {
    font-size: 2.5em;
  }

  @media (min-width: 850px) {
    font-size: 3em;
    padding: none;
  }
}

p {
  font-family: Minecraft;
  font-size: 1em;

    @media (min-width: 400px) {
    font-size: 1.2em;
  }

  @media (min-width: 850px) {
    font-size: 1.5em;
  }
}

/* iets van een outline? */
section p {

}

article {
  text-align: center;
  justify-content: center;
  padding: 1em;
  margin: 4em 0 4em 0;
  width: auto;
  height: auto;
  overflow: visible;
}

.profile-card-archievements {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 850px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.profile-card-background {
  background-image: url(/Blank-sign-oak.png);
  filter: drop-shadow(30px 30px 20px #3d2f20);
  background-size: 100%;
  align-self: center;
  padding-bottom: 2em;
  min-width: 320px;
  background-repeat: repeat;
  justify-content: center;

  @media (min-width: 400px) {
    width: 380px;
    padding-bottom: 2.5em;
    height: auto;
  }

  @media (min-width: 850px) {
    padding-bottom: 2.5em;
    width: 800px;
    height: auto;
  }
}


#mobile-view {
  @media (max-width: 850px) {
    display: none;
  }
      @media (max-width: 400px) {
       display: none;
  }
}

#pc-view {
  @media (min-width: 850px) {
    display: none;
  }
}

/* iets van een randje dat lijkt op een minecraft painting */
img  {
    /* border: dashed;
    border-width: 0.5em;
    border-color: beige; */
}

img.lever.active  {
  rotate: 180deg;

  .profile-card-background {
    background: black;
  }
}

.lever-img {
  margin: 5em 0 5em 0;
  justify-content: center;
  transform-origin: center 135px;
}

.lever-img.active {
  rotate: 180deg;
} */

article {
  text-align: center;
  justify-content: center;
  width: auto;
}

/* De 3d hendel classes */
/* hier de container van de 3d hendel */
.lever-container {
height: 500px;
}

/* de stenen achterkant */
.lever-backside {
  justify-self: center;
  /* place-self: center; */
  position: absolute;
  justify-content: center;
  display: grid;
  width: calc(5*var(--minecraft-pixel-size));
  height: calc(7*var(--minecraft-pixel-size));
  background: url(cobblestone-texture.png);
  background-size: cover;
}

/* de div class waar alle onderdelen in zitten */
#lever {
  scale: 110%;
  perspective: 800px;
  perspective-origin: 30px 0;
  top: 65%;
  left: 30%;
  position: absolute;
  z-index: 5;
  transform-origin: var(--minecraft-pixel-size) var(--minecraft-pixel-size) calc(-9*var(--minecraft-pixel-size));
  transform: rotate3d(1,0,0,30deg);
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
}

#lever.active  {
  transform: rotate3d(1,0,0,-30deg);
}

#lever-top {
  position: absolute;
  left: 0;
  bottom: calc(2*var(--minecraft-pixel-size));
  width: calc(2*var(--minecraft-pixel-size));
  height: calc(10*var(--minecraft-pixel-size));
  background: url(minecraft-lever-handle-top.png);
  background-size: cover;
  transform-origin: bottom left;
  transform: rotate3d(1,0,0,90deg);
}

#lever-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(2*var(--minecraft-pixel-size));
  height: calc(2*var(--minecraft-pixel-size));
  background: url(minecraft-lever-handle-front.png);
  background-size: cover;
  transform: translate3d(0,0,-1,calc(10*var(--minecraft-pixel-size)));
}

#lever-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(2*var(--minecraft-pixel-size));
  height: calc(9*var(--minecraft-pixel-size));
  background: url(minecraft-lever-handle-bottom.png);
  background-size: cover;
  transform-origin: top left;
  transform: rotate3d(1,0,0,-90deg);
}
