* {
  box-sizing: border-box;
}

@font-face {
  font-family: Minecraft;
  src: url(/minecraft/Minecraft.ttf);
}

h1 {
  font-family: Minecraft;
  font-size: 2em;
}

p {
}

article {
  text-align: center;
  justify-content: center;
  /* object-fit: cover; */
  padding: 1em;
  width: auto;
  height: auto;
  overflow: visible;
}




.profile-card-archievements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.profile-card-background {
  background-image: url(/Blank-sign-oak.png);
  filter: drop-shadow(30px 30px 20px #3d2f20);
  background-size: 100%;
  align-self: center;
  /* overflow: visible; */
  min-width: 320px; 
  background-repeat: repeat; 
  justify-content: center;

      @media (min-width: 400px) {
        /* background-repeat: no-repeat;  */
        width: 380px;
        height: auto;
  }

      @media (min-width: 850px) {
        background-repeat: no-repeat; 
        width: 1000px;
        height: auto;
  }
}

img.profile-card-example-img {
  height: 200px;
  width: auto;
  transition: .25s .15s;
}

.profile-card-example-img-wrapper {
    justify-content: center;
    justify-self: center;
    width: 200px;

  display: grid;
  img {
    grid-area: -1 / 1;
    transition: none;
  }
  img:last-child {
    order: -1;
  }
}

.profile-card-example-img-wrapper:hover {
  img:first-child {
    visibility: hidden;
  }
}